body{
    background-color: silver;
    text-align: center;
    padding: 10px;
}

.form-group{
    background-color: none;
    padding: 10px;
    color: white;
}

a{
    text-decoration: none;
}

button{
    color: black;
    background-color: none;
}