<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .container_login{
      text-align: center; 
    }

     
    </style>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Login</title>
  </head>
  <body>

  <div class="col-md-12 mt-5">
                <h3 class="text-center">Login</h3>
                <hr style="height: 1px;color: black;background-color: black;">
            
            <div class="menu">
            <div class="container container_login" id="login_container">

                <form action="../Controller/valida_usuario.php" method="post">

                    <input type="text" name="usuario" placeholder="login" id="usuario"><br>
                    <input type="password" name="senha" placeholder="senha" id="senha"><br><br>
                    <button type="submit" name="submit" class="btn btn-primary">Entrar</button><br>
                    <a href="cadastro.html"> Não é inscrito? Cadastre-se!</a>

                </form>
                
            </div>
    </div>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    
  </body>
</html>